.container{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    text-align: center;
    justify-content: center;

}

#searchLocation{
   
    box-shadow: 0 8px 10px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 10%), 0 -8px 12px 0 rgb(0 0 0 / 5%), 0 -2px 3px -2px rgb(0 0 0 / 1%);
    
    border: none;
    display: block;
    border-radius: 8px;
    height: 0.1rem;
    padding: 1.75rem 1.75rem 1.75rem 3rem;
    font-weight: 600;
    text-transform: capitalize;
    transition: box-shadow .2s ease;
    width: 450px;
    
}
.Search-Button{
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;  
}
