.debounceInput-Search {
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
}
.search {
  width: 100%;
  padding: 7%;
  font-size: 1.2rem;
  color: blue;
  border: 5px;
  font-weight: bold;
  box-sizing: border-box;
}
.autocomplete {
  width: 100%;
  background-color: red;
  border-radius: 5px;
}
.autocompleteItem {
  border-bottom: 1px solid pink;
  padding: 10px 5px;
  cursor: pointer;
  color: greenyellow;
  font-weight: bold;
}
.abc {
  background-color: red;
  width: 100%;
}
