.abc {
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* overflow-x: auto; */
}
.weekly-forecast {
  width: 100%;
  padding: 2px;
  margin: 2px;
  max-width: 1020px;
  margin-top: 10px;

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */

  display: flex;
  padding-bottom: 20px;

  overflow-x: auto;
}

.weekly-forecast::-webkit-scrollbar {
  width: 0;
}
.weekly-forecast::-webkit-scrollbar-thumb {
  background-color: #003a70;
}
.weekly-forecast::-webkit-scrollbar-track {
  background-color: #fff;
}

.weekly-forecast > div {

  height: 150px;
  width: 40%;

  padding: 3px;
}
.hover1:hover {
  border: 2px solid blue;
  width: 40%;
}
.hover1{
  text-align: center;
  padding-bottom: 10px;
   width: 40%;

}
.font-size-temp{
  margin-top: 28px;
  font-size: 11px;
 
}
.icons-week{
  height: 40px;
  width: 40px;
}
